@use '../../../mixins.scss';
@import '../../../variables.scss';

.header{
    background-color: $black_2;

    &__nav{
        max-width: 1160px;
        margin: 0 auto;
        padding: 20px 10px;
    }

    &__navLink{
        display: grid;
        justify-content: center;
        cursor: pointer;
  
        @include mixins.mediaQueryMin(tablet){
            display: inline-block;
        }
    }

    &__navLogo{
        max-width: 183px;
        width: 100%;
    }
}