@use '../../mixins.scss';
@import '../../variables.scss';

.learnMore {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    @include mixins.fontAll(40px, 52px, 700, Roboto, $black);
}