@use '../../../mixins.scss';
@import '../../../variables.scss';

.topMessage {
    @include mixins.fontAll($font-12, $line-14, 400, Roboto, $gray);
    text-align: center;
    padding: $space-16 $space-24;

    @include mixins.mediaQueryMin(tablet) {
        padding: $space-24 $space-10;
    }

    &__link {
        font-weight: 700;
        cursor: pointer;
    }
}