@use '../../../mixins.scss';
@import '../../../variables.scss';

.passGen {
    &__contentWrap {
        display: flex;
        justify-content: center;
    }

    &__content {
        margin: 0 $space-10;
        background-color: $black;
        max-width: 1160px;
        width: 100%;
        display: grid;
        justify-items: center;
        padding: $space-24 $space-10;

        @include mixins.mediaQueryMin(tablet) {
            padding: $space-56 $space-10 $space-37;
        }
    }

    &__header {
        @include mixins.fontAll($font-28, $line-40, 700, Roboto, $white);
        margin-bottom: 4px;
        text-align: center;

        @include mixins.mediaQueryMin(tablet) {
            font-size: 40px;
            line-height: 52px;
            margin-bottom: $space-8;
        }
    }

    &__headingText {
        @include mixins.fontAll($font-12, $line-18, 400, Roboto, $white);
        margin-bottom: $space-4;
        text-align: center;

        @include mixins.mediaQueryMin(tablet) {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: $space-8;
        }

        &:last-of-type {
            margin-bottom: $space-16;

            @include mixins.mediaQueryMin(tablet) {
                margin-bottom: $space-24;
            }
        }
    }
}

.form {
    max-width: 694px;
    width: 100%;

    &__passwordBox {
        width: 100%;
        display: grid;
        grid-template-columns: 2.7fr 1fr;
    }

    &__popup {
        @include mixins.fontAll($font-12, $line-12, 700, Roboto, $white);
        position: absolute;
        background-color: $green;
        padding: $space-8;
        bottom: 100%;
        right: 0;
        border-radius: 8px;
        z-index: 20;
        opacity: 0;
    }

    &__inputBox {
        position: relative;
        background-color: $white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        align-items: center;
    }

    &__passwordInput {
        @include mixins.fontAll($font-16, $line-19, 700, Roboto, $charcoal);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: $space-12 $space-40 $space-12 $space-12;
        width: 100%;
        grid-row: 1/2;
        grid-column: 1/2;
        border: none;
        outline: none;

        @include mixins.mediaQueryMin(tablet) {
            padding: $space-14 $space-60 $space-13 $space-24;
            font-size: $font-20;
            line-height: $line-23;
        }
    }

    &__passwordArrow {
        grid-row: 1/2;
        grid-column: 1/2;
        justify-self: flex-end;
        margin-right: $space-10;
        cursor: pointer;
        width: 20px;

        @include mixins.mediaQueryMin(tablet) {
            margin-right: $space-25;
        }
    }

    &__copyPassword {
        @include mixins.fontAll($font-16, $line-28, 700, Roboto, $white);
        text-transform: capitalize;
        background-color: $green;
        border: none;
        transition: all .2s;
        color: $white;
        cursor: pointer;

        &:hover {
            background-color: $green_2;
        }

        & span:first-of-type {
            display: none;

            @include mixins.mediaQueryMin(tablet) {
                display: block;
            }
        }

        & span:last-of-type {
            @include mixins.mediaQueryMin(tablet) {
                display: none;
            }
        }
    }

    &__selectBoxListWrap {
        margin-top: $space-24;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: repeat(2, min-content);
        row-gap: $space-16;
        column-gap: $space-26;
        justify-content: center;

        @include mixins.mediaQueryMin(tablet) {
            grid-template-columns: repeat(4, max-content);
            grid-template-rows: unset;
            column-gap: $space-26;
        }
    }

    &__selectBox {
        display: flex;
        align-items: center;
        cursor: pointer;

        & * {
            cursor: pointer;
        }
    }

    &__selectBoxLabel {
        margin-left: $space-8;
        @include mixins.fontAll($font-12, $line-22, 400, Roboto, #fff);
    }

}

.animation {
    animation: popup .75s forwards;
}

@keyframes popup {
    0% {
        bottom: 100%;
        opacity: 1;
    }

    100% {
        bottom: 150%;
        opacity: 0;
    }
}