@use '../../../mixins.scss';
@import '../../../variables.scss';

.passGen {
    &__contentWrap {
        display: flex;
        justify-content: center;
    }

    &__content {
        margin: 0 10px;
        background-color: $black;
        max-width: 1160px;
        width: 100%;
        display: grid;
        justify-items: center;
        padding: 24px 10px;

        @include mixins.mediaQueryMin(tablet) {
            padding: 56px 10px 37px;
        }
    }

    &__header {
        @include mixins.fontAll(28px, 40px, 700, Roboto, $white);
        margin-bottom: 4px;
        text-align: center;

        @include mixins.mediaQueryMin(tablet) {
            font-size: 40px;
            line-height: 52px;
            margin-bottom: 8px;
        }
    }

    &__headingText {
        @include mixins.fontAll(12px, 18px, 400, Roboto, $white);
        margin-bottom: 4px;
        text-align: center;

        @include mixins.mediaQueryMin(tablet) {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 8px;
        }

        &:last-of-type {
            margin-bottom: 16px;

            @include mixins.mediaQueryMin(tablet) {
                margin-bottom: 24px;
            }
        }
    }
}

.form {
    max-width: 694px;
    width: 100%;

    &__passwordBox {
        width: 100%;
        display: grid;
        grid-template-columns: 2.7fr 1fr;
    }

    &__popup {
        @include mixins.fontAll(12px, 12px, 700, Roboto, $white);
        position: absolute;
        background-color: $green;
        padding: 8px;
        bottom: 100%;
        right: 0;
        border-radius: 8px;
        z-index: 20;
        opacity: 0;
    }

    &__inputBox {
        position: relative;
        background-color: $white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        align-items: center;
    }

    &__passwordInput {
        @include mixins.fontAll(16px, 19px, 700, Roboto, $charcoal);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 12px 40px 12px 12px;
        width: 100%;
        grid-row: 1/2;
        grid-column: 1/2;
        border: none;
        outline: none;

        @include mixins.mediaQueryMin(tablet) {
            padding: 14px 60px 13px 24px;
            font-size: 20px;
            line-height: 23px;
        }
    }

    &__passwordArrow {
        grid-row: 1/2;
        grid-column: 1/2;
        justify-self: flex-end;
        margin-right: 10px;
        cursor: pointer;
        width: 20px;

        @include mixins.mediaQueryMin(tablet) {
            margin-right: 25px;
        }
    }

    &__copyPassword {
        @include mixins.fontAll(16px, 28px, 700, Roboto, $white);
        text-transform: capitalize;
        background-color: $green;
        border: none;
        transition: all .2s;
        color: $white;
        cursor: pointer;

        &:hover {
            background-color: $green_2;
        }

        & span:first-of-type {
            display: none;

            @include mixins.mediaQueryMin(tablet) {
                display: block;
            }
        }

        & span:last-of-type {
            @include mixins.mediaQueryMin(tablet) {
                display: none;
            }
        }
    }

    &__selectBoxListWrap {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: repeat(2, min-content);
        row-gap: 16px;
        column-gap: 26px;
        justify-content: center;

        @include mixins.mediaQueryMin(tablet) {
            grid-template-columns: repeat(4, max-content);
            grid-template-rows: unset;
            column-gap: 26px;
        }
    }

    &__selectBox {
        display: flex;
        align-items: center;
        cursor: pointer;

        & * {
            cursor: pointer;
        }
    }

    &__selectBoxLabel {
        margin-left: 8px;
        @include mixins.fontAll(12px, 22px, 400, Roboto, #fff);
    }

}

.animation {
    animation: popup .75s forwards;
}

@keyframes popup {
    0% {
        bottom: 100%;
        opacity: 1;
    }

    100% {
        bottom: 150%;
        opacity: 0;
    }
}