//colors
$black: #000000;
$black_2: #111111;
$white: #FFFFFF;
$gray: #9E9FA4;
$gray_2: #7A7A7A;
$gray_3: #d0cdcd;
$charcoal: #333333;
$green: #09A858;
$green_2: #078646;

//paddings,margins,gap
$space-4: 4px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-13: 13px;
$space-14: 14px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-25: 25px;
$space-26: 26px;
$space-37: 37px;
$space-40: 40px;
$space-47: 47px;
$space-48: 48px;
$space-56: 56px;
$space-60: 60px;
$space-64: 64px;
$space-84: 84px;

//font,line heights
$font-12: 12px;
$font-16: 16px;
$font-18: 18px;
$font-20: 28px;
$font-28: 28px;
$font-31: 31px;

$line-12: 14px;
$line-14: 14px;
$line-18: 18px;
$line-19: 19px;
$line-22: 22px;
$line-23: 23px;
$line-24: 24px;
$line-26: 26px;
$line-28: 28px;
$line-40: 40px;